@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #8BC6EC;
    background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);

}
code {
    counter-reset: step;
    counter-increment: step 0;
}
  
code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115,138,148,.4)
}